extends layout
block content
    center
        div
            h1 Antrian Pembayaran
        div
        each val,counter in antrianPembayaran
            if(counter == 0)
                h3 Sedang Membayar
                h4 <u> #{val.Pasien.nama} </u><br><br>
                h4 Daftar Tunggu
            else
                p #{val.Pasien.nama}
            script(type='text/javascript').
                var socket = io.connect('http://localhost:8080');
                socket.on('kurangi_antrian_pembayaran', function () {
                    location.reload()
                });
