extends layout

block content
        center
            div
                h1 Antrian Pemeriksaan #{poliklinik.nama}
            div
            each val,counter in antrian
                if(counter == 0)
                    h3 Sedang Diperiksa
                    h4  #{val.Pasien.nama} <br><br>
                    h4 Daftar Tunggu
                else
                    p #{val.Pasien.nama}
            script(type='text/javascript').
                var socket = io.connect('http://localhost:8080');
                socket.on('kurangi-antrian-pemeriksaan', function () {
                    location.reload()
                });



