extends layout
block content
    center
        div
            h3 Kasir
            table.table(style='width:700px')
                tr <th> Tanggal </th> <th colspan='2'><input id='tanggal' type='date'/></th>
                tr  <th>Pasien</th> <th>Poliklinik</th> <th>Status </th> <th>Kelola Pembayaran </th>
                each val in antrianPembayaran
                    tr
                        td #{val.Pasien.nama}
                        td #{val.Poliklinik.nama}
                        if val.status == 0
                            td Menunggu
                        else if val.status == 1
                            td Lunas
                        else if val.status == 2
                            td Sedang Melakukan Pembayaran
                        else if val.status == 3
                            td Dilangkahi
                        td
                            a(href='kasir/#{val.id}/lunas')
                                button.kurang.btn-danger Lunas
                                &nbsp;
                            a(href='kasir/#{val.id}/langkahi')
                                button.langkahi.btn-warning langkahi
                        script(type='text/javascript').
                            var socket = io.connect('http://localhost:8080');
                            socket.on('kurangi_antrian_pembayaran', function () {
                                location.reload()
                            });
