doctype html
html
    head
        title Sistem Reservasi Pemeriksaan Rawat Jalan
        link(href="/bootstrap.min.css",rel="stylesheet")
        link(href='/rumahsakit.css', rel='stylesheet', type='text/css')
        script(src="/socket.io/socket.io.js")
        //auto complete ada dijquery ini
        script(src="/jquery-1.7.1.min.js")
        //socket io pada script ini
        script(src="/script.js")
        style.
            body{
                font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            div {
                margin: 2px;
            }
    body
        block content