extends layout
block content
    script(type='text/javascript').
        $(function () {
                    $("#idPasien").keyup(function () {
                        $.ajax({
                            type: 'GET',
                            //nilai idPasien berhasil diambil
                            url: 'getPasien/' + $('#idPasien').val(),
                            success: function (namaPasien) {
                                document.getElementById("namaPasien").value = namaPasien;
                                //result masih gagal ditangkap
                                //alert($('#idPasien').val())
                                //alert(namaPasien)
                            }
                        })
                    });
                }
        );
    center
        div
            h4 Pendaftaran Pemeriksaan
            p Pembayaran awal dikenakan biaya sebesar <b>120 ribu rupiah</b>
            form(action='tambahpendaftaran' method='post')
                table.table(style='width:400px')
                    tr <td> <b> Kode Pasien </b></td>
                        td <input id='idPasien' name='idPasien' type='text' /> </td>
                    tr <td> <b> Nama Pasien </b></td>
                        td <input id='namaPasien' name='nama' type='text' disabled=true'/> </td>
                    tr <td> <b> Poliklinik </b></td>
                        td
                            select(name='idPoliklinik')
                                each val in poliklinik
                                    option(value='#{val.id}') #{val.nama}
                    tr <td> <input type='submit' id='simpan' value='simpan'/></td>
            script(type='text/javascript').
                var socket = io.connect('http://localhost:8080');
                $("#simpan").click(function () {
                    socket.emit('broadcast-antrian-pembayaran', 'mengurangi antrian');
                });
